<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	</h3>质押协议补充协议生成</h3></br>
	</br>
	<form action="ZYBC_make">
		<input type="radio" name="mode" value="0" checked>新增
		<input type="radio" name="mode" value="1" checked>置换
		</br>
		<p> ------------------------------------</p>
		质押协议签署时间：<input type="date" name="date2">
		</br>
		&nbsp质押协议编号：<input type="text" name="head_no">
		</br>
		<p> -----------------------------------</p>
		根据质押协议第<input type="text" name="head_clause" size="1">条之规定，签订本补充协议。
		签署时间：<input type="date" name="date1">
		</br>
		<p> ---------------------------------------</p>
		<p>第二节 质押的替换</p>
		<input type="submit" value="提交">
		
		
	
	
	
	
	</form>

</body>
</html>