<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	</h3>质押协议补充协议生成</h3></br>
	</br>
	<form action="ZYBC_make">
		<input type="radio" name="mode" value="0" checked>新增
		<input type="radio" name="mode" value="1" checked>置换
		</br>
		<p> ---------------------------------------------------------------------</p>
		（1）质押协议签署时间：<input type="date" name="date2">
		
		&nbsp &nbsp质押协议编号：<input type="text" name="head_no">
		
		&nbsp; &nbsp出质人：<input type="text" name="chuzhiren">
		</br>
		</br>
		</br>
		（2）根据质押协议第<input type="text" name="head_clause" size="1">条之规定，签订本补充协议。
		签署时间：<input type="date" name="date1">
		</br>
		&nbsp;“保证与承诺”为质押协议第<input type="text" name="clause41" size="1">条，
		“进一步保证”为质押协议第<input type="text" name="clause42" size="1">条。		
		</br>
		</br>
		</br>
		（3） 质押协议中所列的账号为<input type="text" name="no_31">的账户应被下述账户完全替代：
		</br>
		</br>
		&emsp;存款人名称<input type="text" name="cunkuanren">
		&nbsp; &nbsp;存款币种<input type="text" name="currency">
		&nbsp; &nbsp;金额<input type="text" name="value">
		</br>
		</br>
		&emsp;存款期限：<input type="date" name="beginDate31">
		至<input type="date" name="endDate31">
		</br>
		</br>
		&emsp;<input type="checkbox" name="hasCunKuan3">存款详情
		&emsp;&emsp;&emsp;账号<input type="text" name="cunKuanNo311">
		</br>
		</br>
		&emsp;<input type="checkbox" name="hasCunDan3">存单详情
		&emsp;&emsp;&emsp;账号/存单编号<input type="text" name="cunDanNo312">
		</br>
		</br>
		&emsp;<input type="checkbox" name="hasDingQi3">定期存款详情
		&emsp;交易号<input type="text" name="dingQiNo313">
		</br>
		</br>
		</br>
		（4）交易号留为空白<input type="checkbox" name="has34">
		</br>
		</br>
		</br>
	
		<input type="submit" value="提交">
		
	</form>

</body>
</html>